<h2 mat-dialog-title>{{edicao ? data.nome : 'Novo colaborador'}}</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome" maxlength="50">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>CPF</mat-label>
      <input matInput formControlName="cpf" maxlength="11">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Observação</mat-label>
      <textarea matInput formControlName="observacao" maxlength="50"></textarea>
    </mat-form-field>
  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-flat-button color="primary" cdkFocusInitial (click)="salvar()">Salvar</button>
</mat-dialog-actions>