table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 30%;
  margin-top: 10px;
  margin-right: 10px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.search-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
